.navbar{
    background: transparent !important;
    text-align: right;
}
.menu
{
    background-image: url("back2.jpg");
}
p{
    font-size: 2vw;
    color: rgb(210, 209, 209);
    text-align: justify;
}
.p1{
    color: #dfaa4a;
    font-size: 5ch;
    text-align: justify;

}
h2{
    color: #dfaa4a;
    text-align: center;

}
.p3{
    color: rgb(210, 209, 209);
    text-align: center;
    font-size: 2ch;
}
.footer {
    display: flex;              /* Transformation en flexbox */
    padding:0;              /* Suppression des marges internes */
    background-color:#dfaa4a;    
    justify-content: flex-end; /* Ajout de la couleur d'arrière-plan */
}
.footer li {
    list-style-type: none ;       /* Suppression des puces */
}
.footer a{

    text-decoration: none; 
    display:block;                /* Transformation en block */
    min-width: 120px;
    color: #fff;                     /* Largeur minimale des liens */
}

